{% extends 'publica/index.html' %} 
{% block logueado %}
<nav>
    <div id="pestañas" style="background-color: rgb(0,0,0)">
        
        {% if user.is_authenticated %}
            {{username}}
            <a  color="white" href="/logout">Salir</a>
            <a  color="white" href="{%url 'registrarse' %}">Registrarse</a>
        {% else %}
            <a  color="white" href="/signin">Entrar</a>
            
        {% endif %}
        
    </div>
</nav>

{% endblock logueado %}

{% block tareas %}<h1>Estoy Logueado</h1>{% endblock tareas %}

